body{
  background-color: rgb(229, 106, 190);
  margin: 0;
}
form {
    padding: 30px;
    margin: 30px;
  
    font-family: cursive;
}
h3{
    color: aqua;
}
label {
    color: darkcyan;
    padding: 10px;
    font-family: cursive;
}
p {
    font-family: cursive;
}
input {
border-radius: 5px;
border-color: purple;
margin: 3px;
}
::placeholder{
    color:rgb(0,0,0,0.3)
}
footer{
    background-color: black;
    height: 100px;
    width: 100%;
    text-align: center;

    

}